---
layout: layouts/base.njk
title: Plurality Wiki
---

<!DOCTYPE html>
<html lang="en">



      <main class="my-5">
        <section class="mt-5 text-center">
          {% for category in collections.articleCategories %}
            <a href="/articles/{{ category }}">
              <h2 class="text-4xl font-semibold">
                {{ category }}
              </h2>
            </a>
          {% endfor %}
        </section>
      </main>
    </div>
  </body>
</html>